<div class="row" id="navigation">
  <%= link_to "YourPublicReportCard", dashboard_path, class: "navbar-brand" %>
</div>

<div class="row">
  <div class="sidebar-image">
    <%= image_tag current_user.image, class: 'img-responsive center-block' %>
  </div>
  <div class="sidebar-panel">
    <div class="header"><%= current_user.name %></div>
    <div>status</div>
    <div>rating</div>
    <ul class="nav nav-pills nav-justified">
      <li><%= link_to 'Follow', '#', class: "btn-default" %></li>
      <li><%= link_to 'Chat', '#', class: "btn-primary" %></li>
    </ul>
  </div>
  <div class="sidebar-list">
    <a href="#" class="sidebar-list-item active">Link</a>
    <a href="#" class="sidebar-list-item">Link</a>
  </div>
</div>

