<p class="lead">
{{profileBadge model}}
  <h2>{{name}}</h2>
    {{userLeader}}
</p>

connected users
{{#each connected_users}}
  <div class="user-name">
    {{#link-to 'user' username}} {{name}} - {{username}} {{/link-to}}
  </div>
{{/each}}

repositories
<ul>
  {{#each repositories}}
    <li>{{count}} - {{repo}}</li>
  {{/each}}
</ul>

similar users
<ul>
{{#each similar_users}}
  <li>
    {{#link-to 'user' username}} {{name}} - {{username}} {{/link-to}}
  </li>
{{/each}}
</ul>
