<div class="tabs-container">
  <div class="tab-list">
    <div class="active" id="dashboard">
      <a href="/">Dashboard</a>
    </div>
    <div class="" id="osrc">
      <a href="/">OSRC</a>
    </div>
    <div class="" id="github">
      <a href="/">Github</a>
    </div>
    <div class="" id="etc">
      <a href="/">etc.</a>
    </div>
  </div>

  <div class="tabs-content">
    <div class="tab" id="dashboard"></div>
    <div class="tab" id="osrc"></div>
    <div class="tab" id="github"></div>
    <div class="tab" id="etc"></div>
    connected users
    {{#each connected_users}}
      <div class="user-name">
        {{#link-to 'user' username}} {{name}} - {{username}} {{/link-to}}
      </div>
    {{/each}}


    repositories
    <ul>
      {{#each repositories}}
        <li>{{count}} - {{repo}}</li>
      {{/each}}
    </ul>


    similar users
    <ul>
    {{#each similar_users}}
      <li>
        {{#link-to 'user' username}} {{name}} - {{username}} {{/link-to}}
      </li>
    {{/each}}
    </ul>
  </div>
</div>
