{{profileBadge model}}

<h3>
  {{userLeader}}
</h3>

<p class="lead">
  {{name}} is 
{{!-- {{ week_type }} who works best
{{#if best_time[0] < 12 }}
  (around {{ best_time[0] }} am)
{{else}}
  (around {{ best_time[0]-12 }} pm)
{{/if}}
 --}}</p>

connected users
{{#each connected_users}}
  <div class="user-name">
    {{link_to_github_user username}}
  </div>
{{/each}}

repositories
<ul>
  {{#each repositories}}
    <li>{{count}} - {{repo}}</li>
  {{/each}}
</ul>

similar users
<ul>
  {{#each similar_users}}
    <li>{{name}} - {{link_to_github_user username}}</li>
  {{/each}}
</ul>
