<!DOCTYPE html>
<html>
<head>
  <title>Open Source Report Card</title>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
      <% if current_user %>
        <div class="row row-offcanvas row-offcanvas-left">
          <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <%= render 'shared/sidebar_navigation'%>
          </div>
          <div class="col-xs-12 col-sm-9">
            <%= render 'shared/navigation'%>
            <p class="pull-left visible-xs clearfix">
              <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle Profile</button>
            </p>
            <%= yield %>
            <div class="row">
              <%= render @connections if @connections %>
            </div><!--/row-->
          </div><!--/span-->
        </div><!--/row-->
      <% else %>
      <div class="jumbotron">
        <%= yield %>
      </div>
      
      <% end %>
    </div><!--/.container-->

</body>
</html>
